body {
  background-color: #fdfdfe;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}
body :is(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
  text-decoration: none;
}
body summary {
  cursor: pointer;
}
body :is(summary, a):hover {
  filter: brightness(150%);
}
body :is(summary, a):hover > img {
  filter: brightness(75%);
}
body table {
  border-collapse: collapse;
}
body table :not(thead) tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}
body table th,
body table td {
  border: 1px solid currentColor;
  padding: 0.25em;
}
body > code,
body :not(pre) > code,
body pre {
  background-color: #f7f7f7;
  border-radius: 4px;
}
body pre {
  padding: 0.5em;
  overflow-x: auto;
}
body > code,
body :not(pre) > code {
  padding: 0.25em;
}
body code {
  word-wrap: break-word;
}
body code [data-code-language="html"] [data-code-token="doctype"] {
  font-style: italic;
  color: #808080;
}
body code [data-code-language="css"] [data-code-token="selector"] {
  color: #00f;
}
body code [data-code-language="css"] [data-code-token="property"] {
  color: #137fc7;
}
body code [data-code-language="css"] [data-code-token="hexadecimal"] {
  color: #0086b3;
}
body code [data-code-language="css"] [data-code-token="function"] {
  color: #d3a305;
}
body code [data-code-language="css"] [data-code-token="other"] {
  color: #3a0d6d;
}
body code [data-code-language="xml"] [data-code-token="processing-instruction"] {
  font-style: italic;
  color: #808080;
}
body code [data-code-language="xml"] [data-code-token="cdata"] {
  color: #808080;
}
body code [data-code-language="xml"] [data-code-token="cdata-content"] {
  font-style: italic;
}
body code [data-code-language="python"] [data-code-token="value"] {
  font-weight: bold;
  color: navy;
}
body code [data-code-language="diff"] [data-code-token="heading"] {
  font-style: italic;
  color: navy;
}
body code [data-code-language="diff"] [data-code-token="range"] {
  font-weight: bold;
  color: navy;
}
body code [data-code-language="diff"] [data-code-token="insertion"] {
  color: #13a813;
}
body code [data-code-language="diff"] [data-code-token="deletion"] {
  color: #da0707;
}
body code [data-code-language="java"] [data-code-token="annotation"] {
  font-weight: bold;
  color: #008080;
}
body code [data-code-language] [data-code-token="string"] {
  color: #ad0000;
}
body code [data-code-language] [data-code-token="comment"] {
  color: #808080;
}
body code [data-code-language] [data-code-token="keyword"] {
  font-weight: bold;
  color: #8d06c2;
}
body code [data-code-language] [data-code-token="number"] {
  color: #0703f3;
}
body code [data-code-language] [data-code-token="tag"] {
  color: #0703f3;
}
body code [data-code-token="line-number"] {
  user-select: none;
  margin-right: 1ch;
  color: #808080;
}
